.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.new-year-banner {
  background-image: url("../images/Banner Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.new-year-title {
  font-size: 72px;
  color: white;
  text-align: center;
}

.new-year-subtitle {
  font-size: 32px;
  color: white;
  text-align: center;
}

/* new year offer styles*/

.new-year-offer {
  justify-content: center;
}

.offer-title {
  font-size: 88px;
  font-weight: bold;
  color: #ff0000;
  text-align: center;
}

.offer-description {
  font-size: 24px;
  color: #ff0000;
  text-align: center;
}

.offer-subtitle {
  font-size: 48px;
  font-weight: bold;
  color: #070211;
  text-align: center;
}
.happy-new-year-picture {
  width: 800px;
  height: 500px;
  display: block; /* Important */
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* new year party section styles */

.new-year-party {
  background-image: url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.party-content {
  max-width: 642px;
  margin: 50px 138px 138px 50px;
}

.party-title {
  font-size: 64px;
  color: #ffffff;
}

.party-description {
  font-size: 18px;
  color: #ffffff;
}

.join {
  font-size: 20px;
  color: #ffffff;
}

.party-pic {
  width: 320px;
  height: 464px;
  margin: 68px 138px 138px 68px;
}

/*party time section styles*/

/* .party-time {
  justify-content: center;
} */

.time-content {
  font-size: 32px;
  color: #070211;
  font-weight: 400;
  text-align: center;
}

.btn-primary {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff0000;
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
}

.different {
  color: #ff0000;
}

/* new-best-offer-section styles */
.offer-started {
  width: 1320px;
  height: 460px;
}
.best-offers {
  display: flex;
}
.best-offer-one {
  width: 390;
  height: 250;
  margin-top: 104px;
  margin-bottom: 104px;
  margin-right: 70px;
}
.best-offer-subtitle {
  font-size: 24px;
  font-weight: 200;
  color: #ff0000;
}
.best-offer-title {
  font-size: 48px;
  color: #070211;
}
.best-offer-description {
  font-size: 20px;
  color: #070211;
  opacity: 50%;
  text-align: left;
}

.photo {
  height: 460px;
  width: 460px;
}
.welcome-picture {
  height: 364px;
  width: 364px;
}

.best-offer-two {
  margin-top: 112px;
  margin-left: 118px;
  margin-bottom: 181px;
}

.year-content {
  width: 270px;
  height: 170px;
}
.year-title {
  font-size: 48px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: top-left;
  color: #ff0000;
}
.year-description {
  font-size: 20px;
  color: #070211;
  opacity: 60%;
}
.year-greetings-image {
  width: 140px;
  height: 140px;
  margin-top: 43px;
}
